<nav class="navbar navbar-light bg-dark justify-content-between">
    <a class="navbar-brand text-white"><%= appName %></a>
    <form class="form-inline">
      <button type="button" class="btn text-white" data-toggle="modal" data-target="#myModal">
        Change Subreddit
    </button>
    </form>
  </nav>