<div class="container mt-3">
  <div class="modal" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">


              <div class="modal-header">
                  <h4 class="modal-title">Change Subreddit</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                <div class="input-group">

                    <input placeholder="SubReddit" required id="subreddit" type="text" class="form-control">
                    <input id="count" placeholder="if you want multiple put a number below 50" type="number" class="form-control">
                  </div>
              </div>

              <div class="modal-footer">
                  <button onclick="getdata()" type="button" class="btn btn-success" data-dismiss="modal">Save</button>
              </div>
          </div>
      </div>
  </div>

</div>